/* Variables */

:root {
	--basic-white: #FFFFFF;
	--basic-gray: #888888;
	--basic-red: #FB565A;
	--basic-hover-button-red: #E74246;
	--basic-push-button-red: #D7373B;
	--basic-green: #00CA74;
	--basic-hover-button-green: #00BC6C;
	--basic-pused-button-green: #00AA62;
	--basic-yellow: #EFC849;
	--basic-hover-button-yellow: #EAB534;
	--basic-pushed-button-yellow: #E5A722;
	--basic-medium-gray: #EEEEEE;
	--basic-black: #000000;
	--basic-dark-gray: #444444;
	--special: #666666;
	--basic-input-border: #D7DCDE;
	--basic-input-border-hover: #B4B9BB;
	--basic-catalog-filter: #283136;
	--basic-gray-button-hover: #DFDFDF;
	--basic-gray-button-pushed: #D5D5D5;
	--basic-content-header-hover: #4D4D4D;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}


/*Grid*/

.page {
	height: 100%;
}


/*buttons*/

.button {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.button:hover {
	background-color: var(--basic-hover-button-red);
}

.button:active {
	background-color: var(--basic-push-button-red);
}


/*lists*/

.site-navigation,
.services-list,
.about-list,
.customers-list,
.catalog-content,
.goods,
.price-filter,
.grid-type,
.features-filter,
.sort-by,
.product-container {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*Body*/

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.center {
	width: 1160px;
	margin: 0 auto;
	padding: 0 140px;
}


/*header*/

.main-header {
	background-color: var(--basic-medium-gray);
	margin-bottom: 0;
}

.main-header-navigation {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
}

.main-header-logo {
	align-content: start;
}

.main-navigation a,
.user-navigation a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--basic-black);
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.main-navigation a:hover,
.user-navigation a:hover {
	color: var(--basic-red);
}

.main-navigation a:active,
.user-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.header-menu{
	display:flex;
	justify-content: space-between;
}

.site-navigation{
	display:flex;
	flex-direction: column;
	width:437px;
}

.user-navigation{
	padding-left: 50px;
}
/*main content*/


/*slider*/

.slider h2 {
	display: none;
}

.slider h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider {
	margin-bottom: 80px;
	background-color: var(--basic-medium-gray);
}

.slider-container {
	display: grid;
	grid-template-columns: 400px 1fr;
}


/*services*/

.services{
	margin-bottom: 121px;
}
.services-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.services-item{
	width:300px;
}

.services h2 {
	display: none;
}

.services-list h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.services-list a.title {
	text-decoration: none;
	color: var(--basic-black);
}

a.title:active {
	opacity: 0.3;
}

.green-button {
	background-color: var(--basic-green);
}

.green-button:hover {
	background-color: var(--basic-hover-button-green);
}

.green-button:active {
	background-color: var(--basic-pused-button-green);
}

.yellow-button {
	background-color: var(--basic-yellow);
}

.yellow-button:hover {
	background-color: var(--basic-hover-button-yellow);
}

.yellow-button:active {
	background-color: var(--basic-pushed-button-yellow);
}


/*features*/

.features-container {
	display: grid;
	grid-template-columns: 1fr 360px;
}

.features h1 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.features h2 {
	text-transform: uppercase;
	font-weight: bold;
}


/*about*/

.about{
	margin-bottom: 121px;
}

.about img.about-img{
	width:360px;
	height:208px;
}

.about h2 {
	display: none;
}

.about h3 {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.about-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


/*customers*/

.customers{
margin-bottom: 126px;
}

.customers h2 {
	display: none;
}

.customers-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.customers-list img {
	opacity: 0.2;
}

.customers-list img:hover {
	opacity: 1;
}

.customers-list img:active {
	opacity: 0.1;
}


/*contants*/

.contacts h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special);
}

.contacts a {
	text-decoration: none;
	color: var(--special);
}


/*contacts form*/

.contacts-form h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.contacts-form input[type="text"],
.contacts-form input[type="email"] {
	border: 2px solid var(--basic-input-border);
	opacity: 0.5;
}

.contacts-form input:hover {
	border: 2px solid var(--basic-input-border-hover);
}

.contacts-form input:focus {
	border: 2px solid var(--basic-black);
	opacity: 1;
}

.contacts-form input:invalid {
	border: 2px solid var(--basic-hover-button-red);
	color: var(--basic-hover-button-red);
	opacity: 1;
}

/*map*/

.map{
	margin-bottom: 68px;
}

/*footer*/

.footer-container {
	display: grid;
	grid-template-columns: 388px 1fr;
}

.footer-content h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.footer-content p {
	color: var(--basic-dark-gray);
}


/*catalog page*/


/*main content*/


/*title*/

section.title {
	background-color: var(--basic-medium-gray);
}

.catalog-page-title{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin: 0;
	padding: 78px 108px;
}


/*filter*/

.filter-catalog-main-content h2{
	display: none;
}

.form-filter fieldset{
	padding: 0;
	margin: 0;
	border: none;
}

.form-filter legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.form-filter label {
	font-size: 16px;
	line-height: 20px;
	color: var(--basic-catalog-filter);
}

fieldset.price-filter legend{
	margin-bottom: 48px;
}

input[name=price]{
	width: 260px;
	height: 80px;
	border-radius: 3px;
}

input[name=from],
input[name=to]
{
	width: 80px;
	height:38px;
	border-radius: 3px;
}

ul.price-filter{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

fieldset.price-filter{
	margin-bottom: 62px;
}

fieldset.grid-type label{
	margin-bottom: 13px;
}

fieldset.grid-type{
	margin-bottom: 43px;
}

fieldset.features-filter label{
	margin-bottom: 14px;
}

fieldset.features-filter{
	margin-bottom: 48px;
}

.gray-button {
	background-color: var(--basic-medium-gray);
	color: var(--basic-black);
}

.gray-button:hover {
	background-color: var(--basic-gray-button-hover);
}

.gray-button:active {
	background-color: var(--basic-gray-button-pushed);
	opacity: 0.3;
}

/*sort-by*/

.flex-sort-by{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sort-span{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

ul.sort-by{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*grid-catalog-main*/

.grid-catalog-main {
	display: grid;
	grid-template-columns: 260px 1fr;
}


/*catalog-main-content*/

.catalog-main-content {
	color: var(--basic-black)
}

.catalog-main-content input[type="radio"]:not(:checked)+label,
.catalog-main-content input[type="checkbox"]:not(:checked)+label {
	opacity: 0.3;
}

.catalog-main-content input[type="radio"]:hover+label {
	opacity: 0.6;
}


/*catalog*/

.grid-content{
	margin-left:140px;
}

.catalog-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.description {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--special);
}

.hovered {
	background-color: var(--basic-content-header-hover);
}

.catalog-content {
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 55px;
	justify-content: space-between;
}

.catalog-content li{
	margin-bottom: 71px;
	margin-left: 0;
}

.goods-image{
	width:358;
	height:578;
}


/*pagination*/

.current {
	background-color: var(--basic-white);
	margin-bottom: 60px;
}
