/* Variables */

:root {
	--basic-white: #FFFFFF;
	--basic-gray: #888888;
	--basic-red: #FB565A;
	--basic-hover-button-red: #E74246;
	--basic-push-button-red: #D7373B;
	--basic-green: #00CA74;
	--basic-hover-button-green: #00BC6C;
	--basic-pused-button-green: #00AA62;
	--basic-yellow: #EFC849;
	--basic-hover-button-yellow: #EAB534;
	--basic-pushed-button-yellow: #E5A722;
	--basic-medium-gray: #EEEEEE;
	--basic-black: #000000;
	--basic-dark-gray: #444444;
	--special: #666666;
	--basic-input-border: #D7DCDE;
	--basic-input-border-hover: #B4B9BB;
	--basic-catalog-filter: #283136;
	--basic-gray-button-hover: #DFDFDF;
	--basic-gray-button-pushed: #D5D5D5;
	--basic-content-header-hover: #4D4D4D;
	--basic-social-gradient: #E1E1E1;
	--basic-shadow: rgba(0, 1, 1, 0.1);
	--basic-range-bar: #D7DCDF;
	--basic-controls: #ABABAB;
	--basic-controls-shadow: rgba(0, 0, 0, 0.15);
	--basic-input-color: #B8B8B8;
	--basic-container-background: #E9E9E9;
	--basic-container-border: rgba(0, 0, 0, 0.1);
	--basic-navigation: #DBDBDB;
	--basic-graybutton-color: #969696;
	--basic-contacts-shadow: rgba(0, 0, 0, 0.4);
	--basic-close-button: #FECDCE;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

/*buttons*/

.button {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
	font: inherit;
}

/*lists*/

.site-navigation,
.services-list,
.about-list,
.customers-list,
.catalog-content,
.goods,
.price-filter,
.sort-icons,
.grid-type,
.features-filter,
.sort-by,
.features-list,
.pagination,
.modal-form-content,
.product-container {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Body*/

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	position: relative;
}

.center {
	width: 1160px;
	margin: 0 auto;
}

/*header*/

.main-header {
	background-color: var(--basic-medium-gray);
}

.main-header-navigation {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
}

.main-header-logo {
	align-content: start;
}

.main-navigation {
	min-height: 70px;
	margin-top: 50px;
}

.main-navigation a,
.user-navigation a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--basic-black);
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.site-navigation a {
	margin-left: 45px;
}

.current-page {
	position: relative;
}

.current-page::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: var(--basic-red);
	left: 0;
	top: 33px;
}

.main-navigation a:hover,
.user-navigation a:hover {
	color: var(--basic-red);
}

.main-navigation a:active,
.user-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-menu {
	flex-grow: 1;
}

.user-navigation {
	padding-left: 50px;
	position: relative;
	flex-grow: 0;
}

.basket-link::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 13px;
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	left: 20px;
	top: 8px;
}

/*main content*/

/*slider*/

.know-more {
	display: inline-block;
	margin-top: 38px;
	padding: 17px 54px 15px 54px;
	margin-bottom: 20px;
}

.slider h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	margin-bottom: 25px;
}

.slider {
	margin-bottom: 80px;
	background-color: var(--basic-medium-gray);
}

.slider-container {
	display: grid;
	grid-template-columns: 400px 1fr;
}

.slider-pic {
	position: relative;
}

.slider-controls {
	position: absolute;
	top: 335px;
	left: 175px;
	display: flex;
	width: 88px;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 2;
}

.slider-content {
	margin-bottom: -5px;
}

.slider-content img {
	width: 760px;
	height: 431px;
}

.slider-button {
	padding: 0;
	height: 18px;
	width: 18px;
	background-color: var(--basic-white);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
}

.current-slide {
	cursor: auto;
	display: flex;
	justify-content: center;
}

.current-slide::before {
	display: block;
	align-self: center;
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--basic-white);
	border: 2px solid var(--basic-gray);
}

/*services*/

.services {
	margin-bottom: 41px;
	position: relative;
	padding-bottom: 80px;
}

.services-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.services-item {
	width: 300px;
}

.services-list h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 16px;
}

.services-list a.title {
	text-decoration: none;
	color: var(--basic-black);
}

a.title:active {
	opacity: 0.3;
}

.order-button:hover {
	background-color: var(--basic-hover-button-red);
}

.order-button:active {
	background-color: var(--basic-push-button-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.order-button,
.green-button,
.yellow-button {
	display: inline-block;
	padding: 17px 40px 15px 39px;
	margin-top: 32px;
}

.green-button {
	background-color: var(--basic-green);
}

.green-button:hover {
	background-color: var(--basic-hover-button-green);
}

.green-button:active {
	background-color: var(--basic-pused-button-green);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.yellow-button {
	background-color: var(--basic-yellow);
}

.yellow-button:hover {
	background-color: var(--basic-hover-button-yellow);
}

.yellow-button:active {
	background-color: var(--basic-pushed-button-yellow);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.services::after {
	position: absolute;
	bottom: 0;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--basic-medium-gray);
}

/*features*/

.features-container {
	display: grid;
	grid-template-columns: 1fr 360px;
	position: relative;
}

.features h3 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 32px;
}

.features h4 {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 23px;
}

.features-container::after {
	position: absolute;
	bottom: 0;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--basic-medium-gray);
}

.features-list li {
	position: relative;
	padding-left: 32px;
}

.features-list li::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
	left: 0;
	top: 11px;
}

/*about*/

.about {
	margin-bottom: 55px;
}

.about img.about-img {
	width: 360px;
	height: 208px;
}

.about h3 {
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 10px;
	margin-top: 31px;
}

.about-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/*customers*/

.customers {
	margin-bottom: 126px;
	position: relative;
	padding-bottom: 44px;
	padding-top: 46px;
}

.customers-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.customers-list img {
	opacity: 0.2;
}

.customers-list img:hover {
	opacity: 1;
}

.customers-list img:active {
	opacity: 0.1;
}

.customers-list li {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	min-width: 290px;
	position: relative;
	align-self: center;
}

.customers-list li:not(:nth-child(4n+4))::after {
	content: "";
	align-self: center;
	width: 2px;
	height: 52px;
	background-color: var(--basic-medium-gray);
	position: absolute;
	right: 0;
}

.customers::after {
	position: absolute;
	bottom: 0;
	content: "";
	width: 1158px;
	height: 2px;
	background-color: var(--basic-medium-gray);
}

/*map*/

.map {
	margin-bottom: 68px;
	background-image: url("../img/map.jpg");
	width: 1440px;
	height: 416px;
	margin: 0 auto;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	margin-bottom: 75px;
}

.map-logo {
	position: absolute;
	left: 847px;
	top: 70px;
}

/*contacts*/

.contacts {
	min-height: 249px;
	width: 232px;
	background-color: var(--basic-white);
	position: absolute;
	left: 140px;
	top: 54px;
	z-index: 2;
	padding: 25px 45px 45px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.contacts p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special);
}

.contacts a {
	text-decoration: none;
	color: var(--special);
}

.contacts-button:hover {
	background-color: var(--basic-hover-button-red);
}

.contacts-button:active {
	background-color: var(--basic-push-button-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.contacts-button {
	display: inline-block;
	padding: 17px 44px 15px 44px;
	margin-top: 32px;
	border: 0;
	justify-content: center;
}

/*catalog page*/

/*main content*/

/*title*/

section.title {
	background-color: var(--basic-medium-gray);
}

.catalog-page-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 99px;
}

/*filter*/

.range-field {
	width: 205px;
	height: 41px;
	background: var(--basic-medium-gray);
	border-radius: 3px;
	padding-top: 39px;
	padding-left: 33px;
	padding-right: 22px;
	margin-bottom: 14px;
}

.range-bar {
	height: 2px;
	width: 205px;
	background-color: var(--basic-range-bar);
}

.green-bar {
	width: 70%;
	height: 2px;
	background-color: var(--basic-green);
	position: relative;
}

.toggle {
	top: -9px;
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border: 8px solid var(--basic-white);
	background-color: var(--basic-controls);
	border-radius: 50%;
	box-shadow: 0px 2px 1px var(--basic-controls-shadow);
	cursor: pointer;
}

.toggle-min {
	left: -9px;
}

.toggle-max {
	left: 130px;
}

.form-filter fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.form-filter legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.form-filter label {
	font-size: 16px;
	line-height: 20px;
	color: var(--basic-catalog-filter);
	display: block;
	user-select: none;
	position: relative;
	cursor: pointer;
}

fieldset.price-filter input {
	font-family: inherit;
	font-size: inherit;
	user-select: none;
}

fieldset.price-filter legend {
	margin-bottom: 48px;
}

fieldset.price-filter label {
	text-transform: uppercase;
	padding-right: 11px;
}

.filter-input-radio+label,
.filter-input-checkbox+label {
	padding-left: 36px;
}

.filter-input-radio+label::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: -2px;
	left: 0;
	border: 4px solid var(--basic-input-color);
	border-radius: 50%;
}

.filter-input-radio:checked+label::after {
	content: "";
	position: absolute;
	height: 9px;
	width: 9px;
	top: 6px;
	left: 8px;
	background-color: var(--basic-input-color);
	border-radius: 50%;
}

.filter-input-checkbox:checked+label::after {
	content: "";
	position: absolute;
	height: 25px;
	width: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/checked.svg);
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	border: none;
}

.filter-input-checkbox:not(:checked)+label::before {
	content: "";
	position: absolute;
	width: 21px;
	height: 21px;
	top: 0;
	left: 0;
	border: 2px solid var(--basic-input-color);
	border-radius: 3px;
}

input[name=price] {
	width: 260px;
	height: 80px;
	border-radius: 3px;
}

input[name=from],
input[name=to] {
	width: 80px;
	height: 38px;
	border: none;
	background-color: var(--basic-medium-gray);
	border-radius: 3px;
	text-align: center;
}

ul.price-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	;
}

.price-filter li {
	display: flex;
	align-items: center;
}

fieldset.price-filter {
	margin-bottom: 62px;
}

fieldset.grid-type legend {
	margin-bottom: 15px;
}

fieldset.grid-type label {
	margin-bottom: 18px;
}

fieldset.grid-type {
	margin-bottom: 43px;
}

fieldset.features-filter legend {
	margin-bottom: 16px;
}

fieldset.features-filter label {
	margin-bottom: 19px;
}

fieldset.features-filter {
	margin-bottom: 48px;
}

.gray-button {
	background-color: var(--basic-medium-gray);
	color: var(--basic-black);
	border: none;
	padding: 17px 89px 15px 88px;
}

.gray-button:hover {
	background-color: var(--basic-gray-button-hover);
}

.gray-button:active {
	background-color: var(--basic-gray-button-pushed);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-graybutton-color);
}

/*sort-by*/

.flex-sort-by {
	display: grid;
	grid-template-columns: 50% 50%;
}

.sort-span {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.sort-grid {
	display: grid;
	grid-template-columns: 1fr min-content;
	margin-bottom: 48px;
}

ul.sort-by {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sort-icons {
	display: flex;
	justify-content: space-between;
	margin-left: 47px;
	min-height: 30px;
}

.up-triangle {
	display: inline-block;
	width: 11px;
	height: 10px;
	background-image: url(../img/triangle.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

.down-triangle {
	transform: rotate(180deg);
	margin-left: 18px;
	display: inline-block;
	width: 11px;
	height: 10px;
	background-image: url(../img/triangle.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

fieldset.sort-by {
	border: none;
}

fieldset.sort-icons-fieldset {
	padding: 0;
	border: none;
}

/*grid-catalog-main*/

.grid-catalog-main {
	margin-top: 55px;
	display: grid;
	grid-template-columns: 260px 1fr;
}

/*catalog-main-content*/

.catalog-main-content {
	color: var(--basic-black)
}

.catalog-main-content input[type="radio"]:not(:checked)+label,
.catalog-main-content input[type="checkbox"]:not(:checked)+label {
	opacity: 0.3;
}

.catalog-main-content input[type="radio"]:hover+label {
	opacity: 0.6;
}

/*catalog*/

.grid-content {
	margin-left: 140px;
}

.catalog-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.description {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--special);
}

.catalog-content {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 55px;
	justify-content: space-between;
}

.product-container {
	margin-bottom: 30px;
}

.product-container {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 618px;
	box-sizing: border-box;
	background: var(--basic-container-background);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.product-container:hover {
	background: var(--basic-content-header-hover);
}

.three-circles {
	width: 14px;
	height: 14px;
	background-color: var(--basic-white);
	border-radius: 50%;
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left: 16px;
	position: relative;
}

.three-circles::before,
.three-circles::after {
	content: "";
	width: 14px;
	height: 14px;
	background-color: var(--basic-white);
	border-radius: 50%;
	margin-bottom: 13px;
	margin-left: 16px;
	position: absolute;
}

.three-circles::before {
	left: 7px;
}

.three-circles::after {
	left: 31px;
}

.goods-image {
	width: 360px;
	height: 578px;
}

.order-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 234px;
	width: 360px;
	position: absolute;
	bottom: 0;
	background-color: var(--basic-medium-gray);
	padding-bottom: 26px;
}

.product-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

.product-description {
	font-size: 16px;
	line-height: 18px;
	color: var(--special);
	width: 255px;
	text-align: center;
}

.product-button {
	padding: 17px 72px 15px 72px;
	border: none;
	margin-top: 32px;
}

/*pagination*/

.current {
	background-color: var(--basic-white);
	margin-bottom: 60px;
}

.pagination {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.page-button {
	display: inline-block;
	padding: 15px 20px 12px 20px;
	background-color: var(--basic-navigation);
	border-radius: 3px;
	color: var(--basic-black);
	margin-right: 11px;
}

.pagination li {
	margin-top: 5px;
}

.current {
	display: inline-block;
	padding: 12px 17px 9px 17px;
	background-color: var(--basic-white);
	border: 3px solid var(--basic-navigation);
	border-radius: 3px;
	color: var(--basic-black);
	margin-right: 11px;
}

.page-button:hover {
	background-color: var(--basic-gray-button-hover);
	border-color: var(--basic-gray-button-hover);
}

.page-button:active {
	background-color: var(--basic-gray-button-pushed);
	border-color: var(--basic-gray-button-pushed);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-graybutton-color);
}

.next-page-button {
	display: inline-block;
	padding: 14px 77px 12px 78px;
	border-radius: 3px;
	color: var(--basic-black);
	background-color: var(--basic-navigation);
}

.next-page-button:hover {
	background-color: var(--basic-gray-button-hover);
	border-color: var(--basic-gray-button-hover);
}

.next-page-button:active {
	background-color: var(--basic-gray-button-pushed);
	border-color: var(--basic-gray-button-pushed);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
	color: var(--basic-graybutton-color);
}

/*modal window*/

.contacts-form {
	display: none;
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	height: 443px;
	width: 760px;
	padding: 63px 100px 84px 101px;
	background-color: var(--basic-white);
	z-index: 2;
	box-shadow: 0px 20px 40px var(--basic-contacts-shadow);
}

.contacts-form h3 {
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	padding: 0;
	margin-bottom: 27px;
}

.modal-form-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modal-form-content li {
	width: 360px;
}

.modal-form-content label {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

.modal-form-content textarea {
	resize: none;
	margin-bottom: 47px;
	border: 2px solid var(--basic-input-border);
	box-sizing: border-box;
	border-radius: 3px;
	width: 760px;
	color: var(--basic-black);
	opacity: 0.5;
}

.contacts-form .field {
	width: 360px;
	height: 50px;
	border: 2px solid var(--basic-input-border);
	box-sizing: border-box;
	border-radius: 3px;
	margin-top: 9px;
	margin-bottom: 29px;
	opacity: 0.5;
}

.modal-button {
	padding: 17px 83px 15px 83px;
	border: none;
}

.modal-button:hover {
	background-color: var(--basic-hover-button-red);
}

.modal-button:active {
	background-color: var(--basic-push-button-red);
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}

.modal-form-content input:hover,
.modal-form-content textarea:hover {
	border: 2px solid var(--basic-input-border-hover);
}

.modal-form-content input:focus,
.modal-form-content textarea:focus {
	border: 2px solid var(--basic-black);
	opacity: 1;
}

.modal-form-content input:invalid,
.modal-form-content textarea:invalid {
	border: 2px solid var(--basic-hover-button-red);
	color: var(--basic-hover-button-red);
	opacity: 1;
}

.form-content {
	position: relative;
}

.modal-close {
	border: none;
	background-color: var(--basic-white);
	position: absolute;
	right: -15px;
	top: -100px;
	width: 21px;
	height: 21px;
	z-index: 2;
}

.modal-close::before,
.modal-close::after {
	position: absolute;
	left: -3px;
	top: 9px;
	content: "";
	width: 27px;
	height: 4px;
	background-color: var(--basic-close-button);
	transform: rotate(45deg);
	border-radius: 1px;
	overflow: hidden;
}

.modal-close::after {
	transform: rotate(135deg)
}

/*footer*/

.footer-container {
	display: grid;
	grid-template-columns: 388px 1fr;
	align-items: center;
}

.footer-content h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.footer-content p {
	color: var(--basic-dark-gray);
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
}

.social-button {
	position: relative;
	margin-left: 9px;
}

.social-button svg {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-button {
	display: inline-block;
	width: 81px;
	height: 81px;
	background: linear-gradient(0deg, var(--basic-social-gradient), var(--basic-social-gradient)), var(--basic-white);
	border-radius: 50%;
}

.social-button:hover {
	background: linear-gradient(0deg, var(--basic-hover-button-red), var(--basic-hover-button-red)), var(--basic-white);
}

.social-button:active path {
	fill: var(--basic-gray-button-pushed);
}

.social-button:active {
	background: linear-gradient(0deg, var(--basic-push-button-red), var(--basic-push-button-red)), var(var(--basic-white));
	box-shadow: inset 0px 3px 0px var(--basic-shadow);
}
